body {
    background-color: #00aae4;
    font-family: 'Lobster', cursive;
}
body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}
h1 {
    font-size: 10em;
    color: #f70079;
    text-align: center;
}
h2 {
    font-family: 'Lobster', cursive;
    font-size: 6em;
    text-align: center;
}

#balance-message{
  color: #00F771;
}

.input-xxl {
    height: 1.4em;
    padding: 0.2em 0.2em;
    font-size: 6em;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-hidden{
    font-size:0px;
    padding: 0;
    width:0px;
    height:0px;
}
#status {
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 450px;
    text-align: center;
}
#icon-success, #icon-failure {
    display: block;
}
#icon-success {
    color: #00F771;

}
#icon-failure {
    color: #FF2b2b;
}
#github{
  font-size: 16pt;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
#github span{
  vertical-align: text-top;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(fonts/Lobster.otf) format('woff2');
}

#title{
  padding-top: 350px;
}

.combo-container{
  font-size: 60px;
  font-family: sans-serif;
  color: #f70079;
  font-weight: bold;
  position: absolute;
  top: 25px;
  right: 40px;
}

.combo{
  position: relative;
  animation: 0.15s comboAnimation infinite;
}

@keyframes comboAnimation{
  0%{
    left: 0;
    top: 0;
  }

  20%{
    left: 0;
    top: 2px;
  }

  40%{
    left: 2px;
    top: 2px;
  }

  80%{
    left: 2px;
    top: 0;
  }

  100%{
    left: 0;
    top: 0;
  }
}
